<div class="row m-0" style="height: 100%;">
  <div class="col-md-7 col-lg-7" style="background-color: #5599fd;">
    <a routerLink="/">
      <img src="./../../../../assets/images/logo-toolsnotifications.svg" alt="" width="500" height="500">
    </a>
    <h1 class="text-end text-white me-2" style="font-family: 'Comic Sans MS', cursive, sans-serif; margin-top: -50px;" >¡Bienvenido! Ingresa tus secretos aquí y desata la locura de las notificaciones. No pedimos tus secretos más oscuros, solo tu contraseña. ¡Vamos, es hora de notificar al mundo!</h1>
  </div>
  <div class="col-lg-5 align-self-center">
    <div class="container">
      <div class="card shadow p-3 bg-body rounded">
        <div class="card-body" style="margin: 30px 10px;">
          <h1 class="text-center fs-1 mb-3 lh-base" >Bienvenido a ToolsNotifications</h1>
          <form [formGroup]="formInicioSesion">
            <div class="col-md-12 col-lg-12">
              <div class="form-floating mb-3">
                <input type="email" class="form-control form-control-sm" id="email" formControlName="email" placeholder="name@example.com">
                <label for="email">Correo Electronico</label>
              </div>
            </div>
            <div class="col-md-12 col-lg-12 mb-3">
              <div class="form-floating mb-1">
                <input [type]="hideClave? 'password' : 'text'" class="form-control form-control-sm" id="clave" formControlName="clave" placeholder="123456789">
                <label for="clave">Contraseña</label>
              </div>
              <div class="d-flex justify-content-between">
                <div class="form-check" (change)="hideClave =! hideClave">
                  <input class="form-check-input" type="checkbox" [value]="hideClave" id="showPassword">
                  <label class="form-check-label" for="showPassword">Ver Contraseña</label>
                </div>
                <a href=""><small>Olvidaste tu contraseña?</small></a>
              </div>
            </div>
            <div class="col-md-12 col-lg-12">
              <button (click)="postInicioSesion()" type="button" class="btn btn-outline-primary w-100">Iniciar Sesion</button>
              <div class="d-flex justify-content-end">
                <a routerLink="/auth/registro"><small>No tienes cuenta? Registrate.</small></a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>